# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare shell scripts to always have LF line endings
*.sh text eol=lf

# Windows scripts always have CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
